@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");

.navbar {
  position: fixed;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 64px;
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
}

.navbar-cero {
  background: var(--background-color-transparent);
}

.navbar-container {
  display: flex;
  align-items: center;
}

.portfolio-logo {
  width: 52px;
  height: 52px;
  margin-left: 20px;
}

.links {
  display: flex;
  display: none;
  font-size: 2rem;
  color: var(--white-color);
  list-style: none;
}

.links li {
  margin: 0 14px;
  cursor: pointer;
}

.btn-change-container {
  display: flex;
  justify-content: center;
}

.btn-change {
  display: flex;
  width: 60px;
  height: 28px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--white-color);
}

.btn-change .text-long {
  display: none;
}

.btn-change .text-short {
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  color: var(--black-color);
}

.language-icon {
  width: 24px;
  height: 24px;
}

.btn-ham {
  background: var(--background-color);
  border: none;
}

.ham {
  margin-right: 24px;
}

.navbar-ham-none {
  z-index: 2;
  width: 100%;
  height: 64px;
  transition: all 0.3s ease-in-out;
}

.navbar-ham {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 224px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.links-ham-none {
  display: none;
}

.links-ham {
  display: flex;
  font-size: 2rem;
  color: var(--white-color);
  flex-direction: column;
  list-style: none;
  gap: 16px;
  margin-top: 48px;
}

.btn-link-ham {
  width: 360px;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: var(--white-color);
  border: none;
  background-color: transparent;
  font-weight: 500;
}

.none-btn-up {
  display: none;
  transition: all 0.3s ease-in-out;
}

.btn-up {
  position: fixed;
  right: 20px;
  bottom: 48px;
  display: flex;
  border: none;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-radius: 100%;
}

.up-icon {
  width: 56px;
  height: 56px;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}

// TABLET
@media screen and (min-width: 768px) {
  .navbar {
    height: 72px;
  }

  .navbar-container {
    width: 100%;
    justify-content: space-between;
  }

  .portfolio-logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
  }

  .links {
    display: flex;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
  }

  .links li {
    margin: 0 14px;
  }

  .btn-change-container {
    margin-right: 40px;
    margin-left: 0px;
  }

  .btn-change {
    width: 108px;
    height: 36px;
    border-radius: 6px;
  }

  .btn-change .text-long {
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 1.4rem;
    color: var(--black-color);
  }

  .btn-change .text-short {
    display: none;
  }

  .language-icon {
    width: 32px;
    height: 32px;
  }

  .btn-ham {
    display: none;
  }

  .ham {
    display: none;
  }

  .btn-up {
    right: 36px;
    bottom: 48px;
  }

  .up-icon {
    width: 60px;
    height: 60px;
  }
}

// DESKTOP
@media screen and (min-width: 1024px) {
  .navbar {
    height: 80px;
  }

  .portfolio-logo {
    width: 64px;
    height: 64px;
    margin-left: 60px;
  }

  .links {
    font-size: 2.4rem;
    justify-content: right;
  }

  .links li {
    margin: 0 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .links li:hover,
  .links li:active {
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
  }

  .btn-change-container {
    margin-right: 60px;
    margin-left: 40px;
  }

  .btn-change {
    width: 120px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--white-color);
  }

  .btn-change .text-long {
    font-size: 1.6rem;
  }

  .btn-change .text-short {
    display: none;
  }

  .language-icon {
    width: 36px;
    height: 36px;
  }

  .btn-up {
    right: 52px;
    bottom: 48px;
  }

  .up-icon {
    width: 64px;
    height: 64px;
    cursor: pointer;
  }
}