@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.contact {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: var(--border);
}

.contact-container {
  display: flex;
  width: 280px;
  height: 366px;
  background-color: var(--primary-color);
  margin-top: 76px;
  margin-bottom: 18px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
}

.label-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.label-container label {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--black-color);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container-2 {
  display: flex;
  flex-direction: column;
}

.input-container div {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 8px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.input {
  width: 240px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--white-color);
  padding-left: 4px;
}

.text-area {
  width: 240px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  outline: none;
  border: none;
  resize: none;
  border-radius: 2px;
  background-color: var(--white-color);
  padding-top: 4px;
  padding-left: 4px;
}

.text-area::-webkit-scrollbar {
  width: 6px;
}

.text-area::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

.text-area::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-color-90);
  border-radius: 2px;
}

.btn-send {
  display: flex;
  width: 220px;
  height: 60px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background-color: var(--black-color);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-send img {
  width: 24px;
  color: var(--white-color);
  margin-right: 16px;
}

.btn-send p {
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  color: var(--white-color);
  font-weight: 600;
}

.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  width: 180px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 12px;
}

.social-media img {
  width: 52px;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 24px;
  font-weight: 400;
}

.footer p span {
  color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-footer {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }
  .contact {
    height: 100vh;
    border-bottom: none;
  }
  .contact-container {
    width: 360px;
    height: 366px;
    margin-left: 40px;
    margin-top: 80px;
  }
  .input-container div {
    margin-bottom: 8px;
  }
  .input {
    width: 320px;
    height: 36px;
  }
  .text-area {
    width: 320px;
    height: 80px;
  }
  .footer {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 100vh;
  }
  .contact-container {
    width: 780px;
    height: 366px;
    margin-top: 96px;
  }
  .input-container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .input-container-2 {
    justify-content: center;
  }
  .input-container div {
    margin-bottom: 12px;
  }
  .input {
    width: 320px;
    height: 36px;
  }
  .text-area {
    width: 660px;
    height: 120px;
  }
  .btn-send {
    width: 240px;
    height: 64px;
    cursor: pointer;
  }
  .btn-send p {
    font-size: 2rem;
  }
  .social-media {
    width: 200px;
  }
  .social-media img {
    width: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .footer p {
    font-size: 2rem;
  }
}/*# sourceMappingURL=Contact.css.map */