:root {
  --primary-color: #F0AC2F;
  --secondary-color-1: #92A07B;
  --secondary-color-2: #7E6527;
  --black-color: #080904;
  --black-color-80: rgba(8, 9, 4, 0.8);
  --white-color: #F9FAFC;
  --negative-color: #711B00;
  --background-color: rgba(29, 39, 34, 0.8);
  --background-color-cero: rgba(29, 39, 34, 0);
  --border: 2px solid var(--secondary-color-2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(226.25% 100% at 50.39% 0%, #001D19 0%, #091000 49.48%, #050400 100%)
}

h1 {
  font-size: 40px;
  color: white;
}